body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.slider {
    width: 600px; 
    height: 600px; 
    overflow: hidden;
    position: relative;
}

.slider img {
    width: 100%;
    height: auto;
    position: absolute;
    transition: opacity 1s ease; 
}
